# --- НАЗВАНИЕ ПРОЕКТА ---
COMPOSE_PROJECT_NAME=spotly

# --- НАСТРОЙКИ СРЕДЫ ---
APP_ENV=local

# --- ВНЕШНИЕ ПОРТЫ (ДЛЯ ХОСТ-МАШИНЫ) ---
BACKEND_PORT=8000
FRONTEND_PORT=5173
MYSQL_EXTERNAL_PORT=3306
REDIS_EXTERNAL_PORT=6379

# --- ВНУТРЕННЯЯ СЕТЬ DOCKER (ДЛЯ СВЯЗИ КОНТЕЙНЕРОВ) ---
DB_CONNECTION=mysql
DB_HOST=db
DB_INTERNAL_PORT=3306

REDIS_STORE=redis
REDIS_HOST=redis
REDIS_INTERNAL_PORT=6379

# --- НАСТРОЙКИ БАЗЫ ДАННЫХ ---
DB_DATABASE=spotly_db
DB_USERNAME=spotly_user
DB_PASSWORD=spotly_password
DB_ROOT_PASSWORD=spotly_root_password